@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Medium";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bevellier Medium";
  src: url("/fonts/Bevellier-Medium.woff2") format("woff2"),
    url("/fonts/Bevellier-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bevellier";
  src: url("/fonts/Bevellier-Regular.woff2") format("woff2"),
    url("/fonts/Bevellier-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


